html, body { height: 100% }

body {
  display: flex;
  align-items: center;
  background-image:url(1.jpg);
  background-size:cover;

}
.button {
    display: inline-block;
    padding: 15px 28px 13px 28px;
    color: #fff;
    background-color: #2A2F34;
    border-radius: 5px;
    text-align: left;
    transition: background-color 200ms linear;
}
li:hover {
    cursor: pointer;
}
.header__meta li {
    display: inline-block;
}
.header__meta strong {
    font-size: 13px;
    font-weight: bold;
}
.header__meta li::after,li::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    margin: 0 13px 0 17px;
    background-color: #fff;
    opacity: 0.50;
}
.header {
    height: 100%;
    background: url('../img/background.jpg') bottom no-repeat transparent;
        background-size: auto;
    background-size: cover;
}
.container {
    position: relative;
    max-width: 379px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}
.button__icon {
    float: left;
    width: 33px;
    height: 33px;
    margin-right: 15px;
}
.button {
    display: inline-block;
    padding: 15px 28px 13px 28px;
    color: #fff;
    background-color: #2A2F34;
    border-radius: 5px;
    text-align: left;
    transition: background-color 200ms linear;
}
a {
    color: #fff;
    text-decoration: none;
}
button:hover {
            box-shadow: 0 5px 50px 0 white;
            color: white;
            border-radius: 10px;
}
.button.button--secondary {
    background-color: #BB2561;
}
.button.button--primary {
    background-color: #F786A8;
}
.button__icon {
    background: url('') no-repeat transparent;
}
.button__text {
    float: left;
    position: relative;
    top: 1px;
}
.button__action {
    display: block;
    margin-bottom: -4px;
    font-weight: 900;
    font-size: 9px;
    letter-spacing: 0.57px;
    text-transform: uppercase;
}
.button__kind {
    display: block;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
 .middlelmao{
  width: 500px;

  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
.header__meta {
    position: absolute;
    top: 40px;
    right: 66px;
    font-size: 14px;
    z-index: 10;
}